.perftext {
  width: 300px;
  height: 30px;
}
.signupbut {
  background-color: #ff253a;
  color: white;
}

.addcoursebut {
  background-color: #ff253a;
  color: white;
}

.edituserbut {
  background-color: #ff253a;
  color: white;
}

.savedetailsbut {
  background-color: #ff253a;
  color: white;
}
